In [121]:
def hello():
    print("Hello")

hello()

Hello

In [122]:
hello()

Hello

In [123]:
def add(a,b):
    print(a+b)

In [124]:
add(10,20)

30

In [125]:
#jab nhi pta kitne arguments pass krne h toh arbitary argument use krte h *args
def child(*kids):
    print("the youngest child is "+kids[2])

kids=("jhanvi","vanshika","vansh")
child("jhanvi","vanshika","vansh")

the youngest child is vansh

In [126]:
#arbitary keyword argumnet **args
def child(**kids):
    print("the youngest child is "+kids["child3"])

child(child3="jhanvi",child2="vanshika",child1="vansh")

the youngest child is jhanvi

In [127]:
#default parameter value
def hobby(name="cricket"):
    print("my hobby is "+name)
hobby("sleeping")
hobby()

my hobby is sleeping
my hobby is cricket

In [128]:
#passing list
def lst(name):
    for i in name:
        print(i)
name=("jhanvi","vanshika","vansh")
lst(name)

jhanvi
vanshika
vansh

In [129]:
def average(*a):
    avg=0
    j=0
    for i in a:
        j=j+1
        avg=avg+i
    avg=avg/j
    return avg

In [130]:
average(1,2,3)

2.0

In [142]:
#list comprehension
'''list ka sara code ek single line me likh dena
[expression/output for loop condition]
'''

'list ka sara code ek single line me likh dena\n[expression/output for loop condition]\n'

In [151]:
lst=["red","blue","green","black"]
newlst=[i.upper() for i in lst]
print(newlst)

['RED', 'BLUE', 'GREEN', 'BLACK']

In [158]:
lst=[1,2,3,4,5]
newlst=[i*i for i in lst]
print(newlst)

[1, 4, 9, 16, 25]

In [164]:
lst=[1,2,3,4,5]
newlst=[i*i for i in lst if i%2==0]
print(newlst)

[4, 16]

In [169]:
lst=["red","blue","green","black"]
newlst=[lst[i][0] for i in range(len(lst))]
print(newlst)

['r', 'b', 'g', 'b']

In [173]:
lst=[[1,2,3],[4,5,6],[7,8,9]]
newlst=[lst[i][j] for i in range(len(lst)) for j in range(len(lst[i]))]
print(newlst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#LAMBDA: used to write single line code
a=5
b=10
x=lambda a,b:a+b
print(x(a,b))

15

In [2]:
#zip function used to combine two or more iterables
list1 = ["jhanvi","vanshika","vansh"]
list2 = [1,2,3]
result = zip(list1,list2)
print(list(result))

[('jhanvi', 1), ('vanshika', 2), ('vansh', 3)]

In [3]:
#zip function used to combine two or more iterables
list1=["jhanvi","vanshika","vansh"]
list2=[1,2]
result=zip(list1,list2)
print(list(result))

[('jhanvi', 1), ('vanshika', 2)]

In [4]:
zipped=[('jhanvi', 1), ('Vanshika', 2), ('vansh', 3)]
name,number=zip(*zipped)
print(list(name))
print(number,name)

['jhanvi', 'Vanshika', 'vansh']
(1, 2, 3) ('jhanvi', 'Vanshika', 'vansh')

In [ ]:
#map (function,iteration)
def sq(num):              #sq() : jo kisi bhi number ka square return karta hai.
    return num*num
lst=[1,2,3,4,5]
result=map(sq,lst)        #map(sq, lst) : list ke har element pe sq() function apply karo.
print(list(result))

[1, 4, 9, 16, 25]

In [ ]:
#filter function-- filter(function,iterable): ek built-in function hai jo list ke har element pe ek function lagata hai aur sirf unhi elements
lst=[1,2,3,4,5]                               #ko return karta hai jinke liye condition True hoti hai.
result=filter(lambda num:num%2==0,lst)
print(list(result))

[2, 4]

In [ ]:
#reduce function : Jo 2 values leke unko reduce (combine) karta hai. 
from functools import reduce                    #functool ek module hai
lst=[1,2,3,4,5]
result=reduce(lambda num1,num2:num1+num2,lst)   #list ke pehle 2 elements pe + apply karega, fir us result pe next element
print(result)

15

In [ ]:
#enumerate : kisi iterable ke items ke saath unka index bhi deta hai.
lst=["vanshika", "kanak","Gargi"]
result=enumerate(lst)
print(list(result))

[(0, 'gargi'), (1, 'vidhi'), (2, 'khushish')]

In [1]:
#enumerate
lst=["vanshika", "kanak","Gargi"]
result=enumerate(lst,start=71)
print(list(result))

[(71, 'vanshika'), (72, 'kanak'), (73, 'Gargi')]